<ul *ngFor="let m of medecins" class="liste-medecins">
  <li [class.selected]="m === selectedMedecin" (click)="onSelect(m)">{{m.prenom +" "+m.nom}}
    <button><a [routerLink]="['/medecin', m.id]"> Détails </a></button>
    <button (click)="editMedecin(m.id)">Edit</button>
  </li>
</ul>

<label>Entrez votre prénom</label>
<input [(ngModel)]="medecin.prenom" />
<br>
<label>Entrez votre nom</label>
<input [(ngModel)]="medecin.nom" />
<button (click)="addMedecin()" *ngIf="!edit">Ajouter</button>
<button (click)="editOver()" *ngIf="edit">Soumettre</button>

<app-medecin-detail [medecin]="selectedMedecin"></app-medecin-detail>

