<p id="p1">GeoMedecins est un site collaboratif, qui permet de mettre en relation des médecins avec ceux qui en ont besoin, peu importe
  l'endroit où ils se trouvent !
  <br>Son utilisation est simple : vous avez une urgence médicale et vous souhaitez savoir si un médecin se trouvant à proximité
  peut vous aider en attendant l'arrivée des secours ? GeoMedecins contacte directement le médecin le plus proche dans un
  rayon de 10 km. Si celui-ci est disponible, nous vous indiquons le temps qu'il lui faudra pour arriver sur les lieux.</p>
<p>
  <i>
    <strong>Attention </strong>: GeoMedecins est un site qui a pour but d'améliorer la prise en charge des urgences. Il ne se substitue
    en aucun cas à une prise en charge médicale d'urgence.
    <br>Pour contacter le SAMU, composez le 15.</i>
</p>

<button id="contactMedecin" (click)="contacterMedecin()">Contacter un medecin</button>
<br><br>
<a [routerLink]="['/requetes']">Liste des requêtes</a>

<div *ngIf="boolean">
    <label>Entrez le sujet de votre demande</label>
<input [(ngModel)]="requete.sujet" />
<br>
<label>Entrez votre nom</label>
<input [(ngModel)]="requete.patient" />
<button (click)="envoyerRequete()">Envoyer</button>
</div>